<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}FloDeko{% endblock %}</title>


    <!-- Vlastní styly -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
</head>
<body>

    <!-- Hlavička -->
    {% include "header.html" %}

    <!-- Hlavní obsah -->
    <div class="container">
        {% block content %}{% endblock %}
    </div>


</body>
</html>
