<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}FloDeko{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f0f5f1; /* Jemné zelené pozadí */
            color: #333;
            margin: 0;
            padding: 0;
        }

        .container {
            padding-top: 50px; /* Vycentrování obsahu */
        }
    </style>
</head>
<body>
.logo {
    height: 60px; /* Nastav výšku loga */
    width: auto; /* Zachová proporce */
}

    <!-- Hlavička, která bude zahrnuta na všech stránkách -->
    {% include "header.html" %}

    <!-- Hlavní obsah stránky, který bude specifický pro každou stránku -->
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>