/* Globální styly */
body {
    font-family: 'Arial', sans-serif;
    background-color: #F4F8F3 !important; /* Světle zelená pro jemný přírodní tón */
    color: #2E2E2E !important; /* Tmavá šedá pro text */
    line-height: 1.6 !important;
}

/* Navigace */
.navbar {
    background-color: #D6E6D0 !important; /* Jemná světlá zelená */
    display: flex;
    justify-content: space-between; /* Rozdělení prostoru mezi logo a navigaci */
    align-items: center;
}

/* Logo */
.navbar .navbar-brand img {
    max-width: 150px; /* Omezíme šířku loga */
    height: auto;
}

/* Navigační menu */
.navbar-nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-left: 0;
}

.nav-item {
    margin-left: 20px; /* Mezera mezi položkami */
}

.nav-link {
    color: #6B8E23 !important; /* Olivově zelená */
}

.nav-link:hover {
    color: #8FBC8F !important; /* Světlejší zelená pro hover efekt */
}

/* Odkaz na košík jako tlačítko */
.btn-outline-light {
    display: flex;
    align-items: center;
    position: relative;
}

.btn-outline-light img {
    width: 40px; /* Velikost ikony košíku */
    height: auto;
}

.cart-count {
    background: #D6E6D0 !important; /* Jemná světle zelená */
    color: #4E5B31 !important; /* Tmavě zelená pro text */
    font-size: 14px !important;
    font-weight: bold !important;
    border-radius: 50% !important;
    padding: 4px 8px !important;
    position: absolute !important;
    top: -5px !important;
    right: -10px !important;
}

/* Tlačítka */
.btn {
    padding: 0.75rem 1.5rem !important;
    border: none !important;
    background-color: #007bff !important;
    color: #fff !important;
    font-size: 16px !important;
}

.btn-primary {
    background-color: #007bff !important;
}

.btn-primary:hover {
    background-color: #0056b3 !important;
}
